<div class="container">
<div class="row row-footer">
    <div class="col-4 col-footer-logo"><img src="assets/img/logo-footer.png" /></div>
  </div>
  <div class="row row-footer-content">
    <div class="col-3 "></div>
    <div class="col-8 col-footer-content">
      <div class="follow">Follow Us</div>
      <div class="red"><i class="fab fa-facebook-square"></i> Facebook</div>
      <div class="red"><i class="fab fa-instagram"></i> Instagram</div>
      <div class="red"><i class="fab fa-pinterest"></i> Pinterest</div>
      <div class="red"><i class="fab fa-twitter"></i> Twitter</div>
    </div>
    <div class="col-3 "></div>
    <div class="col-8 col-footer-legal">
      <div class="">@2018 Local Keeps</div>
      <div class="legal">Privacy Policy</div>
      <div class="legal">Terms/Conditions</div>
      <div class="legal">Refund & Replacement Policy</div>
      <div class="legal">Shipping Rates/Prices</div>
      <div class="legal">FAQ</div>
    </div>
  </div>
</div>