<app-topmenu></app-topmenu>

<div class="container">
<div class="row row-header">
    <div class="col-12 col-header">
      <div class="header">
          <ui-carousel [infinite]="true" [fade]="true" [speed]="600" [autoPlaySpeed]="3000" class="header-slider">
              <ui-carousel-item>
                  <img src="assets/img/Slider-01.jpg" width="100%">
              </ui-carousel-item>
              <ui-carousel-item>
                  <img src="assets/img/Slider-02.jpg" width="100%">
              </ui-carousel-item>
              <ui-carousel-item>
                  <img src="assets/img/Slider-03.jpg" width="100%">
              </ui-carousel-item>
              <ui-carousel-item>
                  <img src="assets/img/Slider-04.jpg" width="100%">
              </ui-carousel-item>
              <ui-carousel-item>
                  <img src="assets/img/Slider-05.jpg" width="100%">
              </ui-carousel-item>
              <ui-carousel-item>
                  <img src="assets/img/Slider-06.jpg" width="100%">
              </ui-carousel-item>
          </ui-carousel>
      </div>
    </div>
  </div>

  <div class="row-title">
			<div class="col-12 col-title">
				Featured Keeps</div>
		</div>
		<div class="row row-products">
			<div class="col-3" *ngFor="let product of featuredProducts">
				<a [routerLink]="['/item/', product.id]">
            <img class="items-list-mainphoto" src="{{product.fields.Fotos[0].thumbnails.large.url}}" width="100%" />
        </a>
				<div class="product-name">{{product.fields.Name}}</div>
				<div class="product-brand">{{product.fields.brandName}}</div>
				<div class="product-price">${{product.fields.finalPrice}}</div>
        <a (click)="addToCart(product.id, product.fields.Price)" class="btn add-to-cart-button-small add-cart">Add to cart</a>
        <a (click)="addToWishlist(product.id)" class="btn add-to-cart-button-small add-wish">♥</a>
			</div>

		</div>


  <div class="row-title">
  <div class="col-12 col-title">
    KITS</div>
</div>
    <div class="row row-products">
      <div class="col-3" *ngFor="let kit of kits">
        <a [routerLink]="['/item/', kit.id]">
            <img class="items-list-mainphoto" src="{{kit.fields.Fotos[0].thumbnails.large.url}}" width="100%" />
        </a>
        <div class="product-name">{{kit.fields.Name}}</div>
        <div class="product-brand">{{kit.fields.brandName}}</div>
        <div class="product-price">${{kit.fields.finalPrice}}</div>
        <a (click)="addToCart(kit.id, kit.fields.Price)" class="btn add-to-cart-button-small add-cart">Add to cart</a>
        <a (click)="addToWishlist(kit.id)" class="btn add-to-cart-button-small add-wish">♥</a>
      </div>

    </div>

<div class="row-title">
  <div class="col-12 col-title" id="market">
    Market</div>
</div>
<div class="row">
  <div class="col-3 col-items" *ngFor="let product of products | paginate: { itemsPerPage: 20, currentPage: currentPage, id: 'itemsPagination', totalItems: itemsTotal}">
    <a [routerLink]="['/item/', product.id]"
        ><img class="items-list-mainphoto" src="{{product.fields.Fotos[0].thumbnails.large.url}}" width="100%" />
    </a>
    <div class="product-name">{{product.fields.Name}}</div>
    <div class="product-brand">{{product.fields.brandName}}</div>
    <div class="product-price">${{product.fields.finalPrice}}</div>
    <a (click)="addToCart(product.id, product.fields.Price)" class="btn add-to-cart-button-small add-cart">Add to cart</a>
    <a (click)="addToWishlist(product.id)" class="btn add-to-cart-button-small add-wish">♥</a>
    <br/>
    <!--<a href="#!" class="btn btn-primary closeit add-to-cart-button-small">Add to wishlist</a>-->
  </div>



</div>


<div class="row" [hidden]="hidePagination">
    <pagination-controls id="itemsPagination" (pageChange)="changePage($event)"></pagination-controls>
</div>


<app-footer></app-footer>
