

<app-topmenu></app-topmenu>
<div class="container">
   <div class="row">
      <div class="col-12"></div>
   </div>
   <div class="row">
      <div class="col-12"><img src="assets/img/about-1.jpg" width="100%"/></div>
   </div>
   <div class="row-title-centered">
      <div class="col-12 col-title">
         About Local Keeps
      </div>
   </div>
   <div class="row about-contents justify-content-center">
      <div class="col-8">
         <p style="color: #42B4B6">
            Travelers and adventurers alike look for the same thing wherever they go: to experience the truthfulness of each country they visit.
         </p>
         <p>One way to experience that truthfulness is through the work of the local artisans and small companies that are really passionate about what they do. This passion is reflected in their work and becomes an expression of the people, the real people of each country.</p>
         <p>Local Keeps brings you close to the country and its people by curating and recommending the finest expressions of every product be it health and beauty, souvenirs, food, books, kid keeps or accessories.</p>
      </div>
   </div>
   <br /><br />
   <div class="row">
      <div class="col-12"><img src="assets/img/about-2.jpg" width="100%"/></div>
   </div>
   <div class="row about-contents-2 justify-content-center">
      <div class="col-8">
         <p>
            Our Keeps are chosen for their authenticity, quality and their level of involvement in the community. They are environmentally friendly and socially conscious and they all tell a beautiful story of dreams that come true.
         </p>
         <p style="color: #42B4B6">
            By purchasing our Local Keeps you take a little of its country with you and leave a whole lot of support to help its artisans and small companies, it’s dreamers, keep growing.
         </p>
      </div>
   </div>
   <div class="row-title-centered">
      <div class="col-12 col-title">
         OUR TEAM
      </div>
   </div>
   <div class="row row-teammate justify-content-center">
      <div class="col-4"><img src="assets/img/eric.png" width="250px" /></div>
      <div class="col-4">
         <div class="teammate">
            <div class="teammate-name">Eric Scharf</div>
            <div class="teammate-position">Position</div>
            <div class="teammate-bio">An attorney by profession and a dreamer by nature. Eric is not only one of Local Keeps founders but also the person with the ability to see the “big picture”. He is thorough and detailed and the head of procedures. </div>
         </div>
      </div>
   </div>
   <div class="row row-teammate justify-content-center">
      <div class="col-4"><img src="assets/img/galit.png" width="250px" /></div>
      <div class="col-4">
         <div class="teammate">
            <div class="teammate-name">Galit Flasterstein</div>
            <div class="teammate-position">Position</div>
            <div class="teammate-bio">This travel agent by trade is one of Local Keeps founders and the person who has witnessed firsthand what travelers look for: the experiences they crave for and what surprises them at each place they visit. This is why, when it comes to crafting a concept or theme package: she´s always ready to launch.</div>
         </div>
      </div>
   </div>

   <div class="row row-title-centered row-makers">
      <div class="col-12 col-title">
         THE MAKERS BEHIND EACH BRAND ARE<br />
         AN ESSENTIAL PART OF OUR TEAM
      </div>
   </div>
   <div class="row">
      <div class="col-12"><a href="makers.html" target="_self"><img src="assets/img/about-3.jpg" width="100%"/></a></div>
   </div>
   <div class="row row-title-centered row-makers">
      <div class="col-12 col-title">
         THE STORY BEHIND OUR LOGO
      </div>
   </div>
   <div class="row about-contents justify-content-center">
      <div class="col-8">
         <p style="color: #42B4B6">
            We at Local Keeps firmly believe that each country is defined by it’s own identity.
         </p>
         <p>
            That unique identity is expressed through local makers and their products. For that reason we sought to represent this through our branding and story in a simple yet memorable way, bringing together two very recoginizable symbols and creating our own.
         </p>
         <p>
            The location pin and the fingerprint came together as one to give life to Local Keeps and to the countries, regions and communities that it represents.
         </p>
         <br /><br />
         <div class="logo-story"><img src="assets/img/logo-story.png" width="600px"/></div>
      </div>
   </div>
</div>
<app-footer></app-footer>
