<app-topmenu></app-topmenu>

    <div class="container">
        <div class="row row-product">

            <div class="col-6">
            <div class="product-photo"><img src="img/product-big.png" width="100%"/></div>
            </div>
            <div class="col-6">
            <div class="product-name-big">Costa Rica Aerea Vol 1</div>
            <div class="product-brand-big">Pucci</div>
            <div class="product-price-big">USD 49.00</div>
            <div class="product-reviews-big">★★★★★ Reviews</div>
            <div class="product-quantity-big">Quantity<br />	<select>
            <option value="1">1</option>
            
            </select></div>
            <div class="product-name-big"></div>
            </div>
            
            
            </div>

            <div class="row">
                <div class="col-6 thumbnails">
                <div class="thumbnail"><img src="img/product-big.png" width="50px;"/></div>
                <div class="thumbnail"><img src="img/product-big.png" width="50px;"/></div>
                <div class="thumbnail"><img src="img/product-big.png" width="50px;"/></div>
                </div>
                
                <div class="col-6 product-btns">
                  <a href="#!" class="btn btn-primary add-to-cart-button">Add to cart</a>
                  <br /><a href="#!" class="btn btn-primary closeit add-to-cart-button">Add to wishlist</a>
                </div>
                </div>
    </div>

<app-footer></app-footer>