<app-topmenu></app-topmenu>


<div class="container">
   <div class="row-title-centered">
      <div class="col-12 col-title">
         BLOG
      </div>
   </div>
   <div class="row row-post justify-content-center">
     <div class="col-10 col-posts">
          <a class="link" [routerLink]="['/blog/']">← go back</a>
     </div>
      <div class="col-10 col-posts">
         <div class="post-img"><img src="{{singleBlogPost.fields.Picture[0].url}}" width="100%"/></div>
         <div class="post-info">
            <div class="post-title">{{singleBlogPost.fields.Name}} </div>
            <div class="post-date">{{singleBlogPost.fields.Date}} </div>
            <div class="post-detail">{{singleBlogPost.fields.Content}} 
            </div>

         </div>
      </div>
     
   </div>
</div>


<app-footer></app-footer>

