

<app-topmenu></app-topmenu>
<div class="container">
   <div class="row-title-centered">
      <div class="col-12 col-title">
         WE'D LOVE TO HEAR FROM YOU!
      </div>
   </div>
</div>
<div class="container">
   <div class="row row-contact justify-content-center">
      <div class="row row-contact-p">
         <div class="col-12">
            <p>
               Tell us a bit more about you and fill out the form below.
            </p>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-inputs">
            <div class="input-full">Your Name<br /><input placeholder="input"/></div>
            <div class="input-half">Email<br /><input placeholder="input"/></div>
            <div class="input-half">Phone<br /><input placeholder="input"/></div>
            <div class="input-half">Country of Origin<br /><input placeholder="input"/></div>
            <div class="input-half">What are your interests?<br /><input placeholder="input"/></div>
            <div class="input-full">Tell us a bit more<br /><textarea placeholder="input"></textarea></div>
            <a href="#!" class="btn btn-primary float-right">SEND</a>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>

