<app-topmenu></app-topmenu>



<div class="container">

  <div class="row-title">
    <div class="col-12 col-title">
      Your cart</div>
  </div>

    <div class="row row-products">

    	<div *ngFor="let productInCart of cart.items" class="col-12 margin-top-10">
           <div class="row">
    		<div class="col-2">
    			<img style="width:170px; padding:2px; border:1px solid #EDEDED;" src="{{productInCart.imageUrl}}" />
    		</div>
    		<div class="col-8 padding-top-42">
    			{{productInCart.name}} : {{productInCart.quantity}} x ${{productInCart.price}}
          <span (click)="removeItemFromCart(productInCart.id)" class='cart-remove-item-button'>remove item</span>
    		</div>
            </div>

    	</div>


    </div>

     <div class="row">
     	<div class="col-12"><hr/>
          <div class="cart-price">
            <b>Total:</b> ${{cart.totalPrice}}<br /><br />
                <a [routerLink]="['/order-delivery']" class="btn add-cart3">Checkout</a>
        </div></div>
    </div>



</div>


<app-footer></app-footer>
