

<app-topmenu></app-topmenu>


<div class="container">

   <div class="row row-products">

      <div class="col-4">
         <div class="account-menu-title">My Account</div>
         <a class="a-not-link" [routerLink]="['/my-account/']"><div class="account-menu-option">Customer Information</div></a>
         <!-- <div class="account-menu-option">Payment Methods</div>
         <div class="account-menu-option">Address Book</div> -->
         <div class="account-menu-title">Orders</div>
         <div class="account-menu-option"><a class="a-not-link" [routerLink]="['/my-orders/', 'paid']">Order History</a></div>
         <div class="account-menu-option"><a class="a-not-link" [routerLink]="['/my-orders/', 'ordered']">Open Orders</a></div>
         <div class="account-menu-option"><a class="a-not-link" [routerLink]="['/my-orders/', 'cancelled']">Cancelled Orders</a></div>
         <!--
         <div class="account-menu-title">Wishlist</div>
         <div class="account-menu-option">Name List 1</div>
         <div class="account-menu-option">Name List 2</div>
          -->
      </div>

        <div class="col-7">
         <div class="account-right-title">My orders history</div>

             <div class='single-order-box' *ngFor="let order of orders">

              <div class='single-order-box-title'>
                  <b>Order ID:</b> {{order.id}} <br/> <br/>
                  <b>Date:</b> {{order.fields['Order received']}}  <br/><br/>
                  <b>Status:</b> {{order.fields.Status}} <br/> <br/>
              </div>

              <div class='single-order-box-items'>

                 <b>Items:</b><br/>
                 <div [innerHTML]="order.fields.itemsParsed">
                 {{order.fields.itemsParsed}}<br/><br/>
                 </div>

              </div>

              <div class='single-order-sum-up'><br/>
                  <b>Total price:</b> ${{order.fields.TotalPrice}}
              </div>


           </div>

   </div>

   </div>

</div>

<app-footer></app-footer>
