

<app-topmenu></app-topmenu>


<div class="container">
   <div class="row row-products">
      <div class="col-1"></div>
      <div class="col-4">
         <div class="account-menu-title">My Account</div>
         <div class="account-menu-option">Customer Information</div>
         <div class="account-menu-option">Payment Methods</div>
         <div class="account-menu-option">Address Book</div>
         <div class="account-menu-title">Orders</div>
         <div class="account-menu-option">Order History</div>
         <div class="account-menu-option">Open Orders</div>
         <div class="account-menu-option">Cancelled Orders</div>
         <!--
         <div class="account-menu-title">Wishlist</div>
         <div class="account-menu-option">Name List 1</div>
         <div class="account-menu-option">Name List 2</div>
          -->
      </div>
      orders
   </div>
</div>


<app-footer></app-footer>

