<app-topmenu></app-topmenu>

<div class="container">
<div class="row row-header">
    <div class="col-12 col-header">
      <div class="header">
        <img src="assets/img/header.png" width="100%" />
      </div>
    </div>
  </div>
  <div class="row-title">
    <div class="col-12 col-title">
      Featured Keeps</div>
  </div>
  <div class="row row-products">
    <div class="col-3">
      <a href="product.html"><img src="assets/img/product.png" width="100%" /></a>
      <div class="product-name">Name of the Product</div>
      <div class="product-brand">Brand</div>
      <div class="product-price">USD 0.00</div>
    </div>
    <div class="col-3">
      <img src="assets/img/product.png" width="100%" />
      <div class="product-name">Name of the Product</div>
      <div class="product-brand">Brand</div>
      <div class="product-price">USD 0.00</div>
    </div>
    <div class="col-3">
      <img src="assets/img/product.png" width="100%" />
      <div class="product-name">Name of the Product</div>
      <div class="product-brand">Brand</div>
      <div class="product-price">USD 0.00</div>
    </div>
    <div class="col-3">
      <img src="assets/img/product.png" width="100%" />
      <div class="product-name">Name of the Product</div>
      <div class="product-brand">Brand</div>
      <div class="product-price">USD 0.00</div>
    </div>
  </div>
  <div class="row-title">
    <div class="col-12 col-title">
      KITS</div>
  </div>
  <div class="row row-products">
    <div class="col-3">
      <img src="assets/img/product.png" width="100%" />
      <div class="product-name">Name of the Product</div>
      <div class="product-brand">Brand</div>
      <div class="product-price">USD 0.00</div>
    </div>
    <div class="col-3">
      <img src="assets/img/product.png" width="100%" />
      <div class="product-name">Name of the Product</div>
      <div class="product-brand">Brand</div>
      <div class="product-price">USD 0.00</div>
    </div>
    <div class="col-3">
      <img src="assets/img/product.png" width="100%" />
      <div class="product-name">Name of the Product</div>
      <div class="product-brand">Brand</div>
      <div class="product-price">USD 0.00</div>
    </div>
    <div class="col-3">
      <img src="assets/img/product.png" width="100%" />
      <div class="product-name">Name of the Product</div>
      <div class="product-brand">Brand</div>
      <div class="product-price">USD 0.00</div>
    </div>
  </div>

</div>